<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-sections">
  New section
</button>

<!-- modal window for sections -->
<div #modalsections class="modal fade" id="modal-sections">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Section</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <form id="linkForm" (ngSubmit)="saveLink()" autocomplete="off" [formGroup]="linkForm" method="post">
            <div class="card-body">
              <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" placeholder="Title of link..." formControlName="title">
              </div>
              <div class="form-group">
                <label for="title">Url:</label>
                <input type="text" class="form-control" id="url" placeholder="Url of link..." formControlName="url">
              </div>

 
              <ng-multiselect-dropdown
                [placeholder]="'Select a seccions'"
                [data]="sectionsList"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                formControlName="sections"
              >
              </ng-multiselect-dropdown>
            </div>
          </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button #closebutton type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" form="linkForm" [disabled]="!linkForm.valid">Save changes</button>
      </div>
    </div>
  </div>
</div>